{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Posts</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in query %}
      <li class="list-group-item">
        
        <link rel="stylesheet" href="post.css">
        <div class=".container">
            <ul>
                <div class=".bottom">{{user.first_name}}</div>
                <div class=".bottom">{{note.data}}</div>
       
            </ul>
        </div>
        {% if user.id == note.user_id %}
        <div>
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <span class = emoji>&#128078;{{note.dislikes}}</span>
        <button type="button" class="close" onClick="like({{ note.id }})">
            <span class = emoji>&#x1F44D;{{note.likes}}</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Post</button>
      </div>
    </form>
    {% endblock %}